html, body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

$border-color:rgb(225, 232, 237); 
$prim-color: #607d8b;

*{
  outline: none;
}
a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */  
}
body{

  .hero{
    //margin-top: 0px;
    background-color: $prim-color;
    background: none repeat scroll 0 0 $prim-color;
    height: 180px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;

    h1{
      //text-transform: uppercase;
      color: #CCCCCC;
      text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;
      font-family: verdana;
      font-weight: normal;
      font-size: 40px;
    }
    span{
      font-weight: 100;
      letter-spacing: 2px;
    }
  }

  .area-input{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: $border-color;
    text-align: center;

    .input-cnt{
      color: $prim-color;
      text-align: center;
      input{
        color: $prim-color;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color;
      }
    }
    button{
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      color: $prim-color;
      border-color: $prim-color;
      padding: .8rem 2rem;
      font-weight: 600;      
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 2px;
    }
    button:hover{
      color: #fff;
      background-color: $prim-color;
      border-color: $prim-color;
    }
    #randomLink{
      margin-top: 20px;
      display: block;
      font-size: 10px;
      color: $prim-color;
      text-decoration: underline;
    }
  }
  
  .area-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .lbl::before, .lbl::after{
      content: "⬇️";
      padding:5px;
    }    
  }
  
  .convert-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .area-new, .area-old{
    display: flex;
    flex-direction: column;

  }
  .share-container{
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;

    h3{
      margin: 0px;
      text-align: center;
    }

    .share-subtitle{
      padding-top: 25px;
      padding-bottom: 25px;
      span{
        font-weight: 500;
      }
    }

    .url-cntr{
      display: flex;
      //margin-bottom: 20px;
  
      .copy, .url{
        padding: 3px;
        font-size: 14px;
        border-style: solid;
        border-width: 1px;
        border-color: $prim-color;      
        display: inline-block;
      }
      .url{
        width: 100%;
      }
      .copy{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left-style: none;
        background-color: $prim-color;
        color: #fff;
      }
      
    }    
  }


  .area-result{
    $area-margin: 20px;
    $area-width: 380px - (2 * $area-margin);
    $img-size: 130px;
    $area-height: 130px;
    margin: $area-margin;
    
    background-color: white;
    min-width: $area-width;
    max-width: $area-width;
    width: $area-width;
    height: $area-height;
    display: flex;
    flex-direction: row;
    background-color: #E1E8ED;
    border-style: solid;
    border-width: 1px;
    border-color:$border-color; 
    border-top-left-radius: .85714em;
    border-bottom-left-radius: .85714em;
    overflow: hidden;
    
    
    .img-hoder{
      min-width: $img-size;
      min-height: $img-size;
      max-width: $img-size;
      max-height: $img-size;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    
    .post-content{
      background-color: white;
      font-size: 14px;
      padding: 10px;
      h2{
        font-size: 14px;
        font-weight: 700;
        margin:0px;
        margin-bottom: 2px;
      }
      p{
        line-height: 18px;
        margin:0px;
        margin-top: 4px;        
      }


    }
    
  }
}

.social-btn{
  width: 70px;
  display: inline-block;
  font-size: 12px;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid darken($prim-color, 10);
  border-color: #bbb;
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
  
  text-align: center;
  font-weight: 800;
  
  i{
      font-size: 13px;
      margin-right: 1px;
  }
  
  &.pinterest > i{
      color: #bd081c;
  }
  &.twitter > i{
      color: #3a8bbb;
  }
  &.facebook > i{
      color: #4267b2;
  }
  &.github > i{
      color: black;
  }
}

@media (min-width: 768px) { 
  body{
    .area-result{  
      $area-margin: 10px;
      $area-width: 420px - (2 * $area-margin);
      min-width: $area-width;
      max-width: $area-width;
      width: $area-width;    
    }
  }
}
@media (min-width: 992px) { 
  body{
    .area-results{
      flex-direction: row;
      .lbl::before, .lbl::after{
        content: "➡️";
        padding:5px;
      }
            
    }  
  } 
}
